<footer class="main-footer">
        <a href="http://view.sy">
            <p>CONNECT</p>
            <img src="/assets/images/icons/logo.16x16.png" alt="CONNECT logo">
            <small>by View Internet Service Provider</small>
        </a>
</footer>