<header>
    <div class="container logo-container">
        <a href="/" class="logo-link">
            <img src="/assets/images/icons/logo-32x32.png" alt="" srcset="">
            <span class="text-primary">VIEW HOTSPOT </span>
        </a>
    </div>
</header>