<header class="main-header" id="main-nav">
    <div class="header-bar maxWidth-container">

        <div class="desktop-menu">
            <a class="h__link active" href="http://hotspot.view.sy">
                Login
            </a>
            <a class="h__link" href="http://hotspot.view.sy/status">
                Status
            </a>

            <a class="h__link" href="http://hotspot.view.sy/logout?erase-cookie=true">
                Logout</a>
        </div>



        <a class="h__link mobile-menu" onclick="openDrawer()">
            <svg class="hamburger" width="1em" height="1em" viewBox="0 0 20 20">
                <g fill="currentColor" fill-rule="evenodd">
                    <path d="M0 0h19.974v2H0zM0 9h19.974v2H0zM0 18h19.974v2H0z"></path>
                </g>
            </svg>
            <svg class="x-hamburger" width="1em" height="1em" viewBox="0 0 18 18">
                <path
                    d="M17.707 17.707a.997.997 0 01-1.414 0L9 10.414l-7.293 7.293a.997.997 0 01-1.414 0 .999.999 0 010-1.414L7.586 9 .293 1.707A.999.999 0 111.707.293L9 7.586 16.293.293a.999.999 0 111.414 1.414L10.414 9l7.293 7.293a.999.999 0 010 1.414z"
                    fill="currentColor" fill-rule="evenodd"></path>
            </svg>
        </a>
        <div class="spacer"></div>
        <img src="./assets/images/icons/logo.180x180.png" alt="View ISP">
    </div>
    <div class="header-drawer">
        <ul>
            <li>
                <a class="active"   href="http://hotspot.view.sy"  > Login</a>
            </li>
            <li>
                <a  href="http://hotspot.view.sy/status" >Status</a>
            </li>
            <li>
                <a href="http://hotspot.view.sy/logout?erase-cookie=true"  >Logout</a>
            </li>

        </ul>
    </div>
</header>