<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <section class="section-border border-primary" style="margin-top: 48px;">
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center no-gutters ">
                    <div class="col-12">
                        <h1 class="not-fount-h1"> 404: The page you are looking for isn’t here</h1>
                        <h6 class="not-fount-h6">
                            You either tried some shady route or you came here by mistake. Whichever it is, try using
                            the
                            navigation.</h6>

                        <div class="not-found-img-container"><img class="not-found-img" alt="Under development"
                                src="/assets/images/error404_light.svg"></div>

                        <div class="d-flex justify-content-center m-t-48">
                            <a class="btn primary " href="/">
                                Back to Home
                            </a>

                        </div>

                    </div>


                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </section>




    </body>

</html>