@font-face {
  font-family: Roboto, sans-serif;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, sans-serif;
  color: #333;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #5664d2;
  cursor: pointer;
}

a:hover {
  color: #3c4693;
}

a:visited {
  color: #3c4693;
}

body {
  position: relative;
  padding: 0 0 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.noScrol {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  top: 0;
}

@media only screen and (min-width: 600px), print {
  .noScrol {
    position: static;
    overflow: auto;
  }
}

main {
  display: block;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 20px;
}

footer {
  width: 100%;
  height: 50px;
  padding: 7px;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  
}

footer a {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a p,
footer a small {
  margin: 0 5px;
}

h1 {
  margin: 5px 0 20px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.maxWidth-container {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 600px), print {
  .maxWidth-container {
    max-width: 864px;
  }
}

@media only screen and (min-width: 1200px), print {
  .maxWidth-container {
    max-width: 1280px;
  }
}

.full-width {
  width: 100%;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-48 {
  margin-top: 48px;
}

.mb-32 {
  margin-bottom: 2rem;
}

p.not-registered {
  text-align: center;
  margin: 15px 0 0;
  font-size: 12px;
}
.not-registered > a {
  color: #5664d2;
  text-decoration: none;
}

.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  outline: none;
  user-select: none;
  padding: 11px 20px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.25s, color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn.primary {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: #5664d2;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px, rgb(0 0 0 / 5%) 0px 0px 0px 1px;
}

.btn.primary:hover {
  background-color: #3c4693;
  box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px, rgb(0 0 0 / 25%) 0px 3px 4px -2px;
}

.btn.default {
  background-color: #fff;
  color: #0c1026;
  border-color: #0c1026;
}

.btn.default:hover {
  background-color: #5664d2;
  border-color: #5664d2;
  color: #fff;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

label {
  height: 18px;
  margin-bottom: 3px;
  display: inline-block;
}

.login-form {
  max-width: 360px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

select,
input {
  display: block;
  color: #5c6770;
  background-color: #fff;
  font-size: 16px;
  height: 48px;
  width: 100%;
  border: 1px solid #b8c3cc;
  border-radius: 4px;
  padding: 10px 20px;
}

select,
input:focus {
  outline: none;
  border-color: #5c6770;
}

select,
input {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert.danger {
  color: #fff;
  background-color: #f44336;
}

.alert.primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  background-color: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.panel-default {
  border-color: #ddd;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel .panel-body {
  padding: 15px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 72px;
}

.header img {
  max-height: 70px;
  max-width: 70px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 35px);
}

.main-header {
  background-color: #fff;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .main-header {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }
}

.main-header .logo {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 15px);
  color: #5c6770;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  display: block;
  z-index: 5;
}

.main-header .logo img {
  margin: 0 auto;
  height: 30px;
}

.main-header .header-bar {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.main-header .header-bar .h__link {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1em;
  padding: 28px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header .header-bar .h__link:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

.main-header .header-bar .h__link .h-link-icon {
  margin-right: 0.8em;
}

.main-header .header-bar .h__link.active {
  background-color: #066da5;
  color: #fff;
}

.main-header .header-bar .h__link.active:hover {
  background-color: #044c74;
  border-color: #044c74;
}

.main-header .header-bar .logout-btn {
  display: none;
}

.main-header .header-bar .mobile-menu .x-hamburger {
  display: none;
}

.main-header .header-bar .mobile-menu .hamburger {
  display: block;
}

@media only screen and (min-width: 768px) {
  .main-header .header-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .main-header .header-bar .mobile-menu {
    display: none;
  }
  .main-header .header-bar .logout-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-header .header-drawer {
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: calc(144px - 100vh);
  height: calc(100vh - 72px);
  width: 100%;
  padding: 0px 20px 160px 20px;
  z-index: 3;
}

.main-header .header-drawer ul {
  margin: 0 -20px;
}

.main-header .header-drawer ul li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: block;
  color: #5c6770;
  padding: 20px 40px;
  cursor: pointer;
}

.main-header .header-drawer ul li a:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

.main-header .header-drawer ul a.active {
  background-color: #066da5;
  color: #fff;
}

.main-header .header-drawer ul a.active:hover {
  background-color: #044c74;
  border-color: #044c74;
}

.main-header.expand .header-drawer {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  pointer-events: all;
}

.main-header.expand .header-bar .mobile-menu .x-hamburger {
  display: block;
}

.main-header.expand .header-bar .mobile-menu .hamburger {
  display: none;
}

.desktop-menu {
  display: none;
}
.text-center {
  text-align: center;
}

.social-image {
  text-align: center;
  margin-bottom: 2rem;
  user-select: none;
}
.social-image > img {
  max-width: 200px;
}

._header {
  width: 100%;
  height: 50px;
  padding: 7px;
  background: transparent;
}
nav > .brand {
  margin: 0 1rem;
}

@media only screen and (min-width: 768px) {
  .main-header .header-drawer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .social-image > img {
    max-width: 300px;
  }
}

.inline-group {
  display: flex;
  justify-content: space-between;
}
.logo-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}
.logo-link img {
  margin-right: 8px;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

[class^="container"] {
  position: relative;
  z-index: 1;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}
.d-flex {
  display: -webkit-box !important;
  display: flex !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}
.sign-in-text {
  font-weight: 500;
  line-height: 1.3;
  font-size: 2.3125rem;
}
::placeholder {
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}

.code-input {
  font-size: 1.5rem;
  height: 2em;
}

.verify-code-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #5664d2;
}

input:invalid.touched:not(:focus) {
  background: pink;
}
input.invalid:not(:focus) {
  background: pink;
}

/*# sourceMappingURL=style.css.map */
.text-primary {
  color: #5664d2;
}
.not-fount-h1 {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.235;
  text-align: center;
  color: rgb(23, 43, 77);
}

@media only screen and (min-width: 768px) {
  .not-fount-h1 {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji";
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.167;
    text-align: center;
    color: rgb(23, 43, 77);
  }
}

.not-fount-h6{
  margin: 4px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    text-align: center;
    color: rgb(107, 119, 140);
}

.not-found-img-container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 48px;
}

.not-found-img {
  height: auto;
  max-width: 100%;
  width: 400px;
}
