<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

  <body class="bg-light">
    <article>
      <%- include('../partials/logo-header.ejs') %>

        <main class="maxWidth-container">
          <div class="m-t-48">

            <div class="social-image">
              <img src="assets/images/undraw_social_girl_562b.svg" alt="">

            </div>


            <!-- Heading -->
            <h4 class="display-4 text-center text-md-left m-t-20">
              Welcome to <span class="text-primary">VIEW ISP</span> <img src="/assets/images/wifi_black_24dp.svg">
            </h4>

            <!-- Text -->
            <p class="lead text-center m-t-20">
              Remote Work is the Future, but Should You Go Remote?.
            </p>

            <!-- Buttons -->
            <div class="text-center m-t-20">
              <a href="find" class="btn primary">
                Find a hostspot in your area
              </a>

            </div>

          </div>
        </main>

        <%- include('../partials/footer.ejs') %>

    </article>




  </body>

</html>